/* background-color: #1F5371; */
/* background-color: #629ebc; */
h1,
h2,
h3,
h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p,
a {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.cbreadcrumb {
  height: 20px;
  padding-left: 16px;
}

ul>li {
  display: inline-block;
  padding: 10px 12px;
}

ul>li>a {
  color: black;
  font-family: "Helvetica", Arial, sans-serif;
  text-decoration: none;
}

.navbar {
  position: relative;
  /* default colors + transition */


  @media screen and (max-width: 768px) {
    .innerBox {
      background-color: lightgrey;
      display: flex;
      flex-direction: column-reverse;
      padding: 10px;
    }

    .cimg {
      width: 260px;
      /* max-width: calc(100% - 60px); */
      height: auto;
      border: 1px solid darkgrey;
    }

    form {
      border: 1px solid grey;
      padding: 16px;
      border-radius: 1%;
      background-color: white;
      width: 250px;
    }

    input[type=text] {
      width: 240px;
      height: 32px;
    }

    input[type=email] {
      width: 240px;
      height: 32px;
    }

    button {
      width: 242px;
      height: 32px;
      border: 1px solid darkgrey;
    }

    textarea {
      width: 240px;
      height: 150px;
    }

    iframe {
      width: 270px;
      height: auto;
    }

    .plax {
      /* The image used */
      background-image: url(images/omoss3.png);
      /* Full height */
      min-height: 500px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 285px 160px;
    }
  }